.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.TotalCounter{
  clear: both;
  width: 60em;
  margin: 2rem auto;
  /* border: 1px solid; */
  overflow: auto;
}

.Counter{
  float: left;
  width: 30%;
  padding: 1em;
}

.CounterA{
  background-color: pink;
}

.CounterB{
  background-color: lavender;
}

.TheTotal{
  float: left;
  width: 30%;
  text-align: right;
  font-weight: bold;
}

/* ------------------------------------------------------------------- */

.MyForm{
  clear: both;
  width: 30em;
  padding: 2rem;
  padding-top: 0;
  margin: 2rem auto;
  overflow: auto;
  background-color: lavender;;
}

.MyForm .YourNameInput{
  margin-top: 2rem;
}

.MyForm label {
  font-size: 1.25em;
}

.MyForm input{
  width: 10em;
  font-size: 1.5em;
}

.MyForm .FormHello{
  margin: 0em auto;
  margin-top: 1em;
  padding: 0.5em;
  width: 10em;
  background-color: tomato;
  color: whitesmoke;
  font-family: cursive;
  font-weight: bold;
}

.smallText {
  font-size: 0.5em;
}

.smallText span {
  color: red;
  border-bottom: 1px solid tomato;
}

/* ------------------------------------------------------------------- */

.MyEffect{
  clear: both;
  width: 30em;
  padding: 2rem;
  margin: 2rem auto;
  overflow: auto;
  background-color:steelblue;
}

.MyEffect .Name{
  color:ivory;
  font-weight: bold;
}

.MyEffect .Weapon{
  color: goldenrod;
  font-size: 3rem;
  font-family: monospace;
}

/* ------------------------------------------------------------------- */

.TrelloBoard {
  background-color: lightgoldenrodyellow;
  clear: both;
  min-height: 20rem;
  overflow: auto;
}

.BoardHeader{
  font-size: 2rem;
  color: blueviolet;
}

.TrelloList {
  width: 20rem;
  border: 1px solid lightcoral;
  background-color: wheat;
  min-height: 20rem;
  float: left;
  margin-left: 1em;
}

.TrelloList .ListHeader {
  color: brown;
  border-bottom: 1px solid brown;
  font-weight: bold;
  padding: 1em 0;
}

.TrelloCard {
  background-color: tomato;
  color: white;
  font-weight: bold;
  margin: 0.5rem;
  padding: 0.5rem;
  text-align: left;
  /* width: 20rem; */
}

.TrelloCardFull{

}

.TrelloModal {
  height: 20em;
  width: 40em;
  position: absolute;
  top: 5em;
  left: 12em;
  background-color: salmon;
  text-align: left;
  padding: 1em;
}

.TrelloCardForm {
  margin-top: 2rem;;
  margin-left: 2rem;
  padding-left: 2rem;
}

.TrelloCardForm .FormField {
  clear: both;
  margin: 1rem auto;;
}

.TrelloCardForm .FormField label{
  float: left;
  width: 6rem;
  text-align: right;
  padding-right: 1rem;
  font-size: 1.25rem;
}

.TrelloCardForm .FormField input{
  font-size: 1.5rem;
  width: 20rem;
}

.TrelloCardForm .FormField button{
  margin-left: 7rem;;
  font-size: 1.5rem;
}


